**.bak**
node_modules/

# Added by Claude Task Master
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
# Environment variables
.env
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
.DS_Store
# Task files
tasks.json
tasks/ 
build/css/temp.js
TP.json
repomix-output.md
.repomixignore
.github/taskmaster.instructions.md
.github/instructions/application_summary.instructions.md
.github/instructions/github_rules.instructions.md
.github/instructions/self_improve.instructions.md
.scripts/example_prd.txt
.scripts/prd.txt
build/css/temp.js.map
src/js/applogger.old
build/js/bundle.js.map
build/js/bundle.min.js
_fingerprint/
build/css/bundle.css
build/js/bundle.js
build/index.html
stats.json
repomix-output-js.md
package-lock.json
_playwright/
.v3/
tests/
.v2/
.v1/
.scripts/
.github/
CCEP.json