node_modules
coverage
.cache
.v1/
.v2/
.scripts/
.github/
.vscode/
.tests/
package-lock.json
package.json
gulpfile.js
gulpfile.fp.js
.prettierrc
eslint.config.mjs
repomix-config.json
webpack.css.config.js
webpack.js.config.js
webpack.js.fp.config.js
_fingerprint/
babel.config.js
jest.config.js
repomix.config.json
tests/